<footer class="footer">
    <div class="footer-elem">
        <h4>Mi Cuenta</h4>
        <p>Mi pedido</p>
        <p>Editar datos</p>
    </div>
    <div class="footer-elem">
        <h4>promociones</h4>
        <p>Formas de pago</p>
        <p>Formas de entrega</p>
        <p>Marcas</p>
    </div>
    <div class="footer-elem">
        <h4>servicio al cliente</h4>
        <ul>
            <li>Post-Venta</li>
            <li>Politica de cambios</li>
            <li>Garantia</li>
            <li>Centro de Ayuda</li>
        </ul>
    </div>
    <div class="footer-elem">
        <h4>Nosotros</h4>
        <p>¿Quienes Somos?</p>
        <p>¿Donde estamos?</p>
        <p>Contacto</p>
    </div>
    <div class="social-network">
        <h4>Siguenos en:</h4>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-whatsapp"></i></a>
        <a href="#"><i class="fab fa-telegram"></i></a>
    </div>

</footer>