<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tecno|Tronics|producto</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/styleProduct.css">
    
</head>
<body>
    <header> 
    <nav class="navbar navbar-expand-lg navbar-light bg-dark bg-color">
        <div class="container-fluid">
          <a class="navbar-brand" href="index.html"> <img src="/public/img/tecno-tronics.png" alt=""></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="/grupo_7_E-market/views/detailProduct.html">Product</a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="search-bar">
        <input type="text" name="buscar" placeholder="Bucar producto">
    </div>
    <div class="carrucel">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/public/img/curru4.png" class="d-block w-100" alt="carrucel1">
          </div>
          <div class="carousel-item">
            <img src="/public/img/carru2.jpeg" class="d-block w-100" alt="carru2">
          </div>
          <div class="carousel-item">
            <img src="/public/img/carru3.jpeg" class="d-block w-100" alt="carru3">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <!-- Fin de header -->
    <main>

        <div class="card-wrapper">
            <div class="card">
                <!-- card left -->
                <div class="product-imgs">
                    <div class="img-display">
                        <div class="img-showcase">
                            <img src="/public/img/iphone-13-pro-gallery-1.jpg" alt="Imagen Iphone">
                            <img src="/public/img/iphone-13-pro-gallery-2_GEO_US.jpg" alt="Imagen Iphone">
                            <img src="/public/img/iphone-13-pro-gallery-3.jpg" alt="Imagen Iphone">
                            <img src="/public/img/iphone-13-pro-gallery-4.jpg"" alt="Imagen Iphone">
                            <img src="/public/img/iphone-13-pro-gallery-5.jpg"" alt="Imagen Iphone">
                        </div>
                    </div>
                    <div class="img-select">
                        <div class="img-items">
                            <a href="#" data-id="1">
                                <img src="/public/img/iphone-13-pro-gallery-1.jpg" alt="Imagen Iphone">
                            </a>
                        </div>
                        <div class="img-items">
                            <a href="#" data-id="2">
                                <img src="/public/img/iphone-13-pro-gallery-2_GEO_US.jpg" alt="Imagen Iphone">
                            </a>
                        </div>
                        <div class="img-items">
                            <a href="#" data-id="3">
                                <img src="/public/img/iphone-13-pro-gallery-3.jpg" alt="Imagen Iphone">
                            </a>
                        </div>
                        <div class="img-items">
                            <a href="#" data-id="4">
                                <img src="/public/img/iphone-13-pro-gallery-4.jpg" alt="Imagen Iphone">
                            </a>
                        </div>
                        <div class="img-items">
                            <a href="#" data-id="5">
                                <img src="/public/img/iphone-13-pro-gallery-5.jpg" alt="Imagen Iphone">
                            </a>
                        </div>
                    </div>
                </div>
                <!-- card right -->
                <div class="product-content">
                    <h2 class="product-title">Iphone 13 Pro Max</h2>
                    <a href="#" class="product-link">Visit e-commerce</a>
                    <div class="product-rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                        <span>4.8 (33)</span>
                    </div>
                    <div class="product-price">
                        <p class="last-price">Precio viejo: <span>$1157.00</span></p>
                        <p class="new-price">Precio nuevo: <span>$1099.00 (5%)</span></p>
                    </div>
                    <div class="product-detail">
                        <h2>Descripción del producto: </h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas veniam, id dolore recusandae assumenda modi labore earum ducimus velit repellat omnis cupiditate facere perferendis repellendus?</p>
                        <ul>
                            <li>Color: <span>Sierra Blue</span></li>
                            <li>Disponible: <span>Disponible</span></li>
                            <li>Categoría: <span>Celulares</span></li>
                            <li>Envíos: <span>Dentro de Argentina</span></li>
                            <li>Gastos de envío: <span>Gratis</span></li>
                        </ul>
                    </div>
                    <div class="purchase-info">
                        <input type="number" min="0" value="1">
                        <button type="button" class="btn">
                            Añadir al carrito <i class="fas fa-cart-arrow-down"></i>
                            <!-- <i class="fas fa-shopping-cart"></i> -->
                        </button>
                        <button type="button" class="btn">Comprar</button>
                    </div>
                </div>
            </div>
        </div>
    
        <script src="/script.js"></script>
      
    </main>
<!-- Inicio de footer -->
  <footer class="footer">
            <div class="footer-elem">
                <h4>Mi Cuenta</h4>
                <p>Mi pedido</p>
                <p>Editar datos</p>
            </div>
            <div class="footer-elem">
                <h4>promociones</h4>
                <p>Formas de pago</p>
                <p>Formas de entrega</p>
                <p>Marcas</p>
            </div>
            <div class="footer-elem">
                <h4>servicio al cliente</h4>
                <ul>
                    <li>Post-Venta</li>
                    <li>Politica de cambios</li>
                    <li>Garantia</li>
                    <li>Centro de Ayuda</li>
                </ul>
            </div>
            <div class="footer-elem">
                <h4>Nosotros</h4>
                <p>¿Quienes Somos?</p>
                <p>¿Donde estamos?</p>
                <p>Contacto</p>
            </div>
            <div class="social-network">
                <h4>Siguenos en:</h4>
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-whatsapp"></i></a>
                <a href="#"><i class="fab fa-telegram"></i></a>
            </div>

  </footer>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html>