*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
header {
    height: 85px;
}
header img {
    height: 60px;
}

.bg-color{
    background-color:rgb(53, 127, 187)!important;
}
.search-bar{
    width: 100%;
    margin: 0 auto;
    background-color: rgb(53, 127, 187);
    padding-left: 20px;
    padding-bottom: 20px;
}
.search-bar input{
    height: 40px;
    width: 80%;
    border-style: none;
    border-radius: 10px;
    border: 1px solid #000000;
    margin: 50px 0px;
    padding-left: 20px;
}

.carrucel{
    width: 100%;
    height: 200px;
    background-color: rgb(151, 79, 79);
    overflow: hidden;
}
/*Inicio main */
main{
    height: 500px;
    
}
/*Inicio de footer */
.footer{
    width: 100%;
    height: auto;
    padding: 5%;
    background-color: rgb(53, 127, 187);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.footer-elem{
width: 50%;
color: #fff;
}
.footer-elem h4 {
    text-transform: uppercase;
    font-weight: 900;
}
.social-network img{
     padding: 0 20px;
}
.social-network h4{
    text-align: center;
}